{% if site.footer-links.dribbble %}<a href="https://dribbble.com/{{ site.footer-links.dribbble }}" title="Dribbble"><i class="fa-brands fa-dribbble"></i></a>{% endif %}
{% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}" title="Email"><i class="fa-solid fa-envelope"></i></a>{% endif %}
{% if site.footer-links.facebook %}<a href="https://www.facebook.com/{{ site.footer-links.facebook }}" title="Facebook"><i class="fa-brands fa-facebook"></i></a>{% endif %}
{% if site.footer-links.flickr %}<a href="https://www.flickr.com/{{ site.footer-links.flickr }}" title="Flickr"><i class="fa-brands fa-flickr"></i></a>{% endif %}
{% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}" title="GitHub"><i class="fa-brands fa-github"></i></a>{% endif %}
{% if site.footer-links.instagram %}<a href="https://instagram.com/{{ site.footer-links.instagram }}" title="Instagram"><i class="fa-brands fa-instagram"></i></a>{% endif %}
{% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}" title="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>{% endif %}
{% if site.footer-links.pinterest %}<a href="https://www.pinterest.com/{{ site.footer-links.pinterest }}" title="Pinterest"><i class="fa-brands fa-pinterest"></i></a>{% endif %}
{% if site.footer-links.youtube %}<a href="https://www.youtube.com/user/{{ site.footer-links.youtube }}" title="YouTube"><i class="fa-brands fa-youtube"></i></a>{% endif %}
{% if site.footer-links.bluesky %}<a href="https://bsky.app/profile/{{ site.footer-links.bluesky }}" title="Bluesky"><i class="fa-brands fa-bluesky"></i></a>{% endif %}
